<div [formGroup]="form" >
    <label [attr.for]="question.key" class="block text-sm font-medium text-gray-700">{{question.label}}
      <span *ngIf="question.required" class="text-xs text-red-500" >*</span>
    </label>
  
    <div [ngSwitch]="question.controlType">
  
      <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
              [id]="question.key" [type]="question.type" [required]="question.required"
              class="mt-1 border focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm  px-2 py-2 rounded-md"
              >
  
      <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="mt-1 block w-full py-2 px-3 border border-gray-300 border px-1 py-2 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>
  
    </div>
  
    <div class="errorMessage text-red-700 text-xs mt-1" *ngIf="!isValid">{{question.label}} is required</div>
  </div>
  