<div class="">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="px-4 py-3 bg-green-100  border-green-500 border-t-4 shadow text-left sm:px-6">
            <h3 class="text-sm font-medium leading-6 text-gray-900">{{formTitle}}</h3>
        </div>
        <div class="px-4 py-5 bg-white sm:p-6">
            <div class="col-span-6 sm:col-span-3 mt-5 md:mt-3 " *ngFor="let question of questions">
                <app-question [question]="question" [form]="form"></app-question>
            </div>
        </div>

        <div class="px-4 py-3 bg-green-50 text-right sm:px-6">
            <button type="submit" [disabled]="!form.valid"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-green-600 uppercase focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
        </div>
    </form>

    
</div>