<div class="">
    <header class=" mb-10 sm:mt-0  bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          Bowling Score Board
        </h1>
      </div>
    </header>
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0 ">
                <div class="shadow bg-green-50 overflow-hidden sm:rounded-md">
                    <app-dynamic-form (returnData)="addPlayer($event)" [formTitle]="'Add Player'" [questions]="players$ | async"></app-dynamic-form>
                </div>

                <div *ngIf="!(isEmpty(playerList))" class="shadow mt-2 bg-green-50 overflow-hidden sm:rounded-md">
                    <div class="px-4 py-3 bg-green-100  border-green-500 border-t-4 shadow text-left sm:px-6">
                        <h3 class="text-sm font-medium leading-6 text-gray-900">Player List ({{playerLength}})</h3>
                      </div>
                    <table class="border border-green-100 m-1 w-full justify-center">
                        <thead>
                            <tr class="">
                                <th class="border border-green-100 center">Name</th>
                                <th class="border border-green-100 center">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let player of playerList | keyvalue;let i as index;">
                                <td class="border border-green-100">{{getValue(player.value,'name')}}</td>
                                <td class="border border-green-100 center">{{getValue(player.value,'score')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <div class="shadow overflow-hidden sm:rounded-md">
              <div class="px-4 py-3 bg-green-100  border-green-500 border-t-4 shadow text-left sm:px-6">
                  <h3 class="text-sm font-medium leading-6 text-gray-900">Score</h3>
                </div>
              <div class="px-4 py-5 bg-white sm:p-6">
                
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
               
              </div>
            </div>
        </div>
      </div>
    </div>